body{
    padding: 2em;
    background-color: rgba(128, 128, 128, 0.267);
    font-family: sans-serif;

}
.btnRegist{
    width: 100%;
    background-color: #6ea328 !important;
}
.row{
    margin: 0%;
    padding: 0%;
}
.condition{
    color: #6ea328;
}
