#isotipo{
   height: 100%;
}
h4{
    text-align: center; /* este es el estilo para titulo de hoja editar comentarios */
    position: relative;
}
nav{
    background-color: #6ea328;
}
body, .sidenav{
    background-color: #dfe7d5;
}
main{
    margin-top: 10%;
}
.publicationDom{
    margin-top: 4%;
    display: block;
    padding: 5%;
    color: rgb(44, 40, 40);
    background-color: #f5f5f5;
}
a, i{
    color: black;
}
.slidesFood {
    height: 50% !important;
    margin-bottom: 2%;
    margin-top: 2%;
}
.btn-floating{
    background-color: #cf621c !important;
}
