body{
    padding: 2em;
    background-color: rgba(128, 128, 128, 0.267)

}
.container{
    background-color: #e2ecd4;
}
.btnIniciar{
    width: 100%;
    background-color: #6ea328 !important;
}

.row{
    margin: 0%;
    padding: 0%;
}
.btnFace{
    background-color: #3b5998 !important;
}
.btnGoogle{
    background-color: #db4a39 !important;
}

