#isotipo{
  height: 85%;
}
h4{
    text-align: center; /* este es el estilo para titulo de hoja editar comentarios */
    position: relative;
}
nav{
    background-color: #6ea328;
   /*  margin-bottom: 3%; */
}
body, .sidenav{
    background-color: #dfe7d5;
}
main{
    padding-top: 5%;
}
.publicationDom{
    margin-top: 4%;
    display: block;
    padding: 5%;
    color: rgb(44, 40, 40);
    background-color: #f5f5f5;
}
a, i{
    color: black;
}
.slider{
    height: 100% !important;
}
